<div class="container">
	<div class="col-md-5">
		<h2>Centers</h2>
	   <div class="panel panel-default">
 		 <div class="panel-heading">
    	     <h3 class="panel-title iconi">Centers/Site 	
    	     	<i class="fa fa-plus" data-toggle="modal" data-target="#ModaladdCenter"></i>
    	     	<i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editCenter"></i>
    	     </h3>
         </div>
       		<div class="panel-body">
    			<div class="dropdown">
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    					Dropdown
    					<span class="caret"></span>
  					</button>
  						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    						<li role="presentation"><a role="menuitem" tabindex="-1">ng-repeat</a></li>
   						</ul>
				</div>
  			</div>
		</div>
	</div>

	<div class="col-md-5">
		<h2>Users</h2>
	   <div class="panel panel-default">
 		 <div class="panel-heading">
    	     <h3 class="panel-title iconi">Director Profile
    	    	<i class="fa fa-plus" data-toggle="modal" data-target="#myModalDirectorPlus"></i>
    	     	<i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#myModalEditDirector"></i>
			</h3>
         </div>
       		<div class="panel-body">
    			<div class="dropdown">
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    					Dropdown
    					<span class="caret"></span>
  					</button>
  						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    						<li role="presentation"><a role="menuitem" tabindex="-1">ng-repeat</a></li>
   						</ul>
				</div>
  			</div>
		</div>
		<div class="panel panel-default">
 		 <div class="panel-heading">
    	     <h3 class="panel-title iconi">Administrator
    	    	<i class="fa fa-plus" data-toggle="modal" data-target="#myModalAdminPlus"></i>
    	     	<i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#myModalAdminEdit"></i>
			</h3>
         </div>
       		<div class="panel-body">
    			<div class="dropdown">
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    					Dropdown
    					<span class="caret"></span>
  					</button>
  						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    						<li role="presentation"><a role="menuitem" tabindex="-1">ng-repeat</a></li>
   						</ul>
				</div>
  			</div>
		</div>
	</div>
</div>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal (edit) icon in the admin section-->
<div class="modal fade" id="myModalAdminEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Administrator</h4>
      </div>
      <div class="modal-body">
     	  <form class="form-horizontal" role="form">
      		<div class="form-group">
			    	<label for="username" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-6">
			    	<input type="usrname" class="form-control" id="username" placeholder="Username">
			    </div>
			</div>

			<div class="form-group">
			    	<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			  	<div class="col-sm-6">
			   		 <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			</div>
    		<strong> Leave blank if you do not wish to change password</strong><br />
    		
    		<div class="form-group">
			      <label for="inputPassword3" class="col-sm-2 control-label">Change Password</label>
			    <div class="col-sm-6">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			</div>

			<div class="form-group">
			      <label for="inputPassword3" class="col-sm-2 control-label"></label>
			    <div class="col-sm-6">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			</div>
		</form>

      </div>



      <div class="modal-footer">
      	<button type="button" class="btn btn-primary">Delete Admin</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal plus icon in the admin section-->
<div class="modal fade" id="myModalAdminPlus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Administrator</h4>
      </div>
      <div class="modal-body">
     <form class="form-horizontal" role="form">
			 <div class="form-group">
			    <label for="username" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-6">
			    <input type="usrname" class="form-control" id="username" placeholder="Username">
			    </div>
			  </div>
			   <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-6">
			    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-6">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			 </div>
  		</form>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal (edit) icon in the Director Profile section-->
<div class="modal fade" id="myModalEditDirector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Director Profile</h4>
      </div>
     <div class="modal-body">
     
      	<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <label for="username" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-6">
			    <input type="username" class="form-control" id="username" placeholder="username">
			    </div>
			  </div>
			   <div class="form-group">
			    <label for="" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-6">
			    <input type="" class="form-control" id="" placeholder="Username">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-6">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			  </div>
  		</form>

  		<div class="panel panel-default">
	 		 <div class="panel-heading">
	    	     <h3 class="panel-title iconi">Email
	    	     </h3>
	         </div>
	       	 <div class="panel-body iconi">
	    		<p>the added email goes here<i class="fa fa-times iconi"></i></p>
	  		  </div>
		</div>

		<div class="form-group form-pad">
			<div class="col-sm-12">
				<div class="col-md-6 ">
					<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
				</div>
				<butteon type="button" class="btn btn-primary pull-right">Add Email</button>
			</div>
		</div>	<br>



 	 </div>
	<div class="modal-footer">
      	<button type="button" class="btn btn-primary">Delete Director</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (plus) icon in the Director Profile section-->

<div class="modal fade" id="myModalDirectorPlus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Director</h4>
      </div>
      <div class="modal-body">
     <form class="form-horizontal" role="form">
			 <div class="form-group">
			    <label for="" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-6">
			    <input type="username" class="form-control" id="" placeholder="Username">
			    </div>
			  </div>
			   <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-6">
			    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-6">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			 </div>
  		</form>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Edit) icon in the center section-->

<div class="modal fade" id="editCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Center/Site</h4>
      </div>
      <div class="modal-body">
     	<form class="form-horizontal" role="form">
			<div class="form-group">
		    	<label class="col-sm-4 control-label">Center Name</label>
		    	<div class="col-sm-5">
		      	<input class="form-control"/>
		    	</div>
		  	</div>
   
			  <div class="form-group">
		    <label for="inputPassword" class="col-sm-4 control-label">Center Type</label>
		    <div class="col-sm-5">
				<select class="form-control">	  
					  <option>Visitor's Center</option>
					  <option>Historical Site</option>
				 </select>
		    </div>
		  </div>
			<div class="form-group">
		    <label for="" class="col-sm-4 control-label">Select Center Profile</label>
		    <div class="col-sm-5">
				<select class="form-control">	  
					  <option>Visitor's Center</option>
					  <option>Historical Site</option>
				 </select>
		    </div>
		    <div class="form-group">
		    <label for="" class="col-sm-4 control-label">Active</label>
		    <div class="col-sm-5">
				<div class="checkbox">
			  <label>
			    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="">
			  </label>
			</div>
		    </div>
		    
		  </div>		  
  		</form>



		
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Delete Center</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


<!-- ========================================================================================================================= -->
<!-- Modal (plus) icon in the center section-->


<div class="modal fade" id="ModaladdCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Center/Site</h4>
      </div>
      <div class="modal-body">
     	<form class="form-horizontal" role="form">
			<div class="form-group">
		    	<label class="col-sm-4 control-label">Center Name</label>
		    	<div class="col-sm-5">
		      	<input class="form-control"/>
		    	</div>
		  	</div>
   
			  <div class="form-group">
		    <label for="inputPassword" class="col-sm-4 control-label">Center Type</label>
		    <div class="col-sm-5">
				<select class="form-control">	  
					  <option>Visitor's Center</option>
					  <option>Historical Site</option>
				 </select>
		    </div>
		  </div>
			<div class="form-group">
		    <label for="inputPassword" class="col-sm-4 control-label">Select Center Profile</label>
		    <div class="col-sm-5">
				<select class="form-control">	  
					  <option>Visitor's Center</option>
					  <option>Historical Site</option>
				 </select>
		    </div>
		  </div>		  
  		</form>



		
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

