<div class="container">
	<div class="col-md-5">
		<h2>Centers</h2>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title iconi">Centers/Site 	
					<i class="fa fa-plus" data-toggle="modal" data-target="#ModaladdCenter"></i>
					<i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editCenter"></i>
				</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-8">
					<select class="form-control scroll-list" ng-model="center" ng-options="center.center for center in centers" >
					<option value="" selected>Choose Center</option>

					</select>
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-5">
		<h2>Users</h2>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title iconi">Director Profile
					<i class="fa fa-plus" data-toggle="modal" data-target="#myModalDirectorPlus"></i>
					<i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#myModalEditDirector"></i>
				</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-8">
				<select class="form-control scroll-list" ng-model="director" ng-change="test(director)"ng-options="user.username for user in directors" placeholder="Director">
					<option value="" selected>Choose Director</option>

					</select>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title iconi">Administrator
					<i class="fa fa-plus" data-toggle="modal" data-target="#myModalAdminPlus"></i>
					<i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#myModalAdminEdit" ng-click="editAdmin()"></i>
				</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-8">
					<select class="form-control scroll-list" ng-model="admin" ng-options="user.username for user in administrators">
					<option value="" selected>Choose Admin</option>

					</select>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- Modal (edit) icon in the admin section-->
<div class="modal fade" id="myModalAdminEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="adminEditCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Administrator</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" name="adminEditForm" novalidate>
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="username" placeholder="Username" ng-model="admin.username" name="username" required ng-maxlength= '25'>
              				<p class="help-block" ng-show="adminEditForm.username.$error.maxlength">Username is too long</p>
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-6">
							<input type="email" class="form-control" id="inputEmail3" ng-model="admin.email" placeholder="Email" required>
						</div>
					</div>
					<strong> Leave blank if you do not wish to change password</strong><br />

					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Change Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="admin.password">
						</div>
					</div>

					
				</form>

			</div>



			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="deleteAdmin(admin.id)" data-dismiss="modal" >Delete Admin</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="editAdmin()" data-dismiss="modal" ng-disabled="adminEditForm.$invalid">Save changes</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal plus icon in the admin section-->
<div class="modal fade" id="myModalAdminPlus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="adminAddCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">New Administrator</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" name="newAdminForm" novalidate>
					<b ng-if="error">{{error}}</b>
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-6">
							<input type="usrname" class="form-control" id="username" placeholder="Username" name='username'ng-model="admin.username" ng-maxlength= '25'  ng-pattern="/^\S*$/">
							<p class="help-block" ng-show="newAdminForm.username.$error.pattern">Not valid Username, No spaces allowed!</p>
							<p class="help-block" ng-show="newAdminForm.username.$error.maxlength">Username is too long</p>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-6">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="admin.email">
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" name='password' ng-model="admin.password" required ng-minlength = '8' ng-maxlength= '20'>
							<p class="help-block" ng-show="newAdminForm.password.$error.maxlength">Password is too long!</p>
             				<p class="help-block" ng-show="newAdminForm.password.$error.minlength">Password is too short!</p>
              
						</div>
					</div>
				</form>
			</div>



			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="createAdmin(admin)" data-dismiss="modal" ng-disabled="newAdminForm.$invalid">Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal (edit) icon in the Director Profile section-->
<div class="modal fade" id="myModalEditDirector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorEditCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Director Profile</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" role="form" name="editDirectorForm">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-6">
							<input type="username" class="form-control" id="username" placeholder="username" ng-model="director.username" required name="username" required ng-maxlength= '25'>
              				<p class="help-block" ng-show="editDirectorForm.username.$error.maxlength">Username is too long</p>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-6">
							<input type="" class="form-control" id="" placeholder="Email" ng-model="director.email" required>
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="director.password">
						</div>
					</div>
				</form>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title iconi">Additional Email
						</h3>
					</div>
					<div class="panel-body iconi" ng-repeat="email in director.secondaryEmails">
						<p ng-hide="email.email == null">{{email.email}}<i class="fa fa-times iconi" ng-click="removeEmail(email)"></i></p>
					

					</div>
				</div>

				<div class="form-group form-pad">
					<div class="col-sm-12">
						<div class="col-md-6 ">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="newEmail">
						</div>
						<button type="button" class="btn btn-primary pull-right" ng-click="addDirectorEmail()">Add Email</button>
						</div>
					</div>	<br>



				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="deleteDirector()" data-dismiss="modal">Delete Director</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="editDirector()" data-dismiss="modal" ng-disabled="editDirectorForm.$invalid">Save changes</button>
				</div>
			</div>
		</div>
	</div>

<!-- Modal (plus) icon in the Director Profile section-->

<div class="modal fade" id="myModalDirectorPlus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorAddCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">New Director</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" name="newDirectorForm" novalidate>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-6">
							<input type="username" class="form-control" id="" placeholder="Username" ng-model="director.username" required ng-maxlength='25'  ng-pattern="/^\S*$/" name="username">
							<p class="help-block" ng-show="newDirectorForm.username.$error.maxlength">Username is too long</p>
							<p class="help-block" ng-show="newDirectorForm.username.$error.pattern">Not valid Username, must be one string</p>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-6">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="director.email" required>
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="director.password" required ng-minlength = '8' ng-maxlength= '20' name="password">
				             <p class="help-block" ng-show="newDirectorForm.password.$error.maxlength">Password is too long!</p>
				             <p class="help-block" ng-show="newDirectorForm.password.$error.minlength">Password is too short!</p>
              
						</div>
					</div>
				</form>
			</div>



			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="createDirector(director)" data-dismiss="modal" ng-disabled='newDirectorForm.$invalid'>Submit</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal (Edit) icon in the site section-->

<div class="modal fade" id="editCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="siteEditCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Center/Site</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-4 control-label">Center Name</label>
						<div class="col-sm-5">
							<input class="form-control" ng-model="center.center"/>
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword" class="col-sm-4 control-label">Center Type</label>
						<div class="col-sm-5">
							<select class="form-control">	  
								<option>Visitor's Center</option>
								<option>Historical Site</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">Select Reporter Profile</label>
						<div class="col-sm-5">
							<select class="form-control" ng-model="director" ng-options="user.username for user in directors">	  

							</select>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-4 control-label" >Active</label>
							<div class="col-sm-5">
								<div class="checkbox">
									<label>
										<input type="checkbox" id="blankCheckbox" value="YES" aria-label="" ng-checked="center.active" ng-model="center.active">

									</label>
								</div>
							</div>

						</div>		  
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="deleteCenter()" data-dismiss="modal">Delete Center</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="editCenter()" data-dismiss="modal">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- ========================================================================================================================= -->
<!-- Modal (plus) icon in the site section-->


<div class="modal fade" id="ModaladdCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="siteAddCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Center/Site</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" name="addCenterForm">
					<div class="form-group">
						<label class="col-sm-4 control-label">Center Name</label>
						<div class="col-sm-5">
							<input class="form-control" ng-model="center.center" required>
						</div>
					</div>

					<div class="form-group">
						<label for="" class="col-sm-4 control-label">Center Type</label>
						<div class="col-sm-5">
							<select class="form-control" ng-model="center.type" required>	  
								<option value="CENTER">Visitor's Center</option>
								<option value="SITE">Historical Site</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-4 control-label">Select Reporter Profile</label>
						<div class="col-sm-5">
							<select class="form-control" ng-model="center.userId">
							<option ng-repeat="user in directors" ng-value='user.id' required>{{user.username}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">City</label>
						<div class="col-sm-5">
							<input class="form-control" ng-model="center.city" required>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label" >State</label>
						<div class="col-sm-5">
							<input class="form-control"ng-model="center.state" required>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label" >Country</label>
						<div class="col-sm-5">
							<input class="form-control" ng-model="center.country" required>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">Active</label>
						<div class="col-sm-5">
							<div class="radio">
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio1"  ng-model='center.active' value='YES' checked> True
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model='center.active' value='NO'> False
								</label>
							</div>
						</div>		  
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="submitCenter()" data-dismiss="modal" ng-disabled="addCenterForm.$invalid">Submit</button>
				</div>
			</div>
		</div>
	</div>

