      <div class="content-container">
           <div class="col-md-2 navList">
                <nav class="navbar-default navbar-side sidebar-content" role="navigation">
                <ul>
                    <li >
                        <a  href="form.html"><i class="fa fa-edit fa-5x"></i> Reports </a>
                    </li>
            <li >
                          <a  href="chart.html"><i class="fa fa-bar-chart-o fa-5x"></i> Trends</a>
                      </li>
                      <li>
                          <a  href="index.html"><i class="fa fa-dashboard fa-5x"></i> Manage </a>
                      </li>
                    </ul>       
              </nav>  
        </div>
        <!-- /. NAV SIDE  -->
          <div class="col-md-10 right-content">
           <p>Testing the position</p>
            </div>
     </div>