  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Reports</h3>
    </div>
    <div class="panel-body">

      Choose site:
      <select ng-init='selectedCenter = center' ng-options='center.center for center in centers' ng-model='selectedCenter' ng-change='updateSelectCenter(selectedCenter)'></select>

      <hr/>

      View past reports:
      <br>
      <select ng-init='selectedMonth = months[month]' ng-options='value for value in months' ng-model='selectedMonth' g-init='selectedYear = year' ng-options='value for value in years' ng-model='selectedMonth' ></select>
      <select ng-init='selectedYear = year' ng-options='value for value in years' ng-model='selectedYear'></select>

      <!-- Add Stats report modal trigger -->

      <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#viewReport" ng-click="getReportByMonth()">Statistics</button>  

      <!-- Add Key indicator report modal trigger    -->
      <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#viewKeyIndicator" ng-click="getReportByMonth()">Key Indicator</button>

      <hr/>

      <!-- Add Report modal trigger button-->
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addKeyIndicatorDirector">
       Add Key Indicator
     </button> 
     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addReport">
       Add Stats
     </button>      

     <!-- Key Indicator modals begin here -->

     <!-- View Key Indicator Modal -->
     <div class="modal fade" id="viewKeyIndicator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorKiViewCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header list-group-item-info">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">View Key Indicator Report</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Visitors Center and Historic Site Monthly Report for: <br/> 
                  {{selectedCenter.center}} {{selectedMonth}} {{selectedYear}}</h3>
              </div>
              <div class="panel-body">
                <div class="panel panel-default">
                  <div class="panel-body monthlyReportBox">
                    Key Indicator Summary:

                    <li>Baptized: {{reportKi.baptized}}</li>
                    <li>Baptismal date: {{reportKi.baptismal_date}}</li>
                    <li>Sacrament meeting: {{reportKi.sacrament_meeting}}</li>
                    <li>Member present lessons: {{reportKi.member_present_lessons}}</li>
                    <li>Other lessons: {{reportKi.other_lessons}}</li>
                    <li>New investigators: {{reportKi.new_investigators}}</li>
                    <li>Progressing investigators: {{reportKi.progressing_investigators}}</li> 
                    <li>Recent Convert/Less Active: {{reportKi.rc_la}}</li> 
                    <li>Referrals Sent: {{reportKi.referrals_sent}}</li> 

                  </div>
                </div>

                <button type="button" class="btn btn-default">Print</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#keyIndicatorEdit" data-dismiss="modal" ng-click="keyIndicatorEdit(reportKi['Reports.id'])">Edit</button>
                <button type="button" class="btn btn-default" ng-click="deleteReportAlert()">Delete</button><br/>

                <div class="alert alert-danger" role="alert" ng-show="deleteReportWarningAlert">Are you sure you want to delete this report? This action cannot be undone.<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteSingleReport(reportKi.id)">Yes, I want to delete this report</button><br/>
                </div>    
              </div>
            </div>   
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshModalClose()">Close</button>
          </div>
        </div>
      </div>
    </div> 

    <!-- Add Key Indicator Report Modal -->
    <div class="modal fade" id="addKeyIndicatorDirector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorKiAddCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header list-group-item-info">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Key Indicator Report</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Visitors Center and Historic Site Monthly Report for: </br> 
                  {{selectedCenter.center}} {{selectedMonthAdd}} {{selectedYearAdd}}
              </h3>


              <br/>

              Month:
              <select ng-init='selectedMonth = months[month]' ng-options='value for value in months' ng-model='selectedMonthAdd'></select>

              Date:
              <select ng-init='selectedYear = year' ng-options='value for value in years' ng-model='selectedYearAdd'></select>

            </div>
            <div class="panel-body">
              <div class="panel panel-default">
                <div class="panel-body monthlyReportBox">
                 Key Indicator Summary:

                 <li>Baptized:<input class="inputFieldEdit" min="0" type="number" ng-model="baptized"></li>
                 <li>Baptismal date:<input class="inputFieldEdit" min="0" type="number" ng-model="baptismal_date"></li>
                 <li>Sacrament meeting:<input class="inputFieldEdit" min="0" type="number" ng-model="sacrament_meeting"></li>
                 <li>Member present lessons:<input class="inputFieldEdit" min="0" type="number" ng-model="member_present_lessons"></li>
                 <li>Other lessons:<input class="inputFieldEdit" min="0" type="number" ng-model="other_lessons"></li> 
                 <li>New investigators:<input class="inputFieldEdit" min="0" type="number" ng-model="new_investigators"></li>
                 <li>Progressing investigators:<input class="inputFieldEdit" min="0" type="number" ng-model="progressing_investigators"></li> 
                 <li>Recent convert/less active:<input class="inputFieldEdit" min="0" type="number" ng-model="rc_la"></li>
                 <li>Referrals sent:<input class="inputFieldEdit" min="0" type="number" ng-model="referrals_sent"></li> 
               </div>
             </div>
           </div>               
         </div>  
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewKeyIndicatorReport()">Save changes</button>
      </div>
    </div>
  </div>
</div>     



<!-- Key Indicator Edit Modal -->
<div class="modalEdit fade" id="keyIndicatorEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorKiEditCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header list-group-item-danger">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Key Indicator Report</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Visitors Center and Historic Site Monthly Statistical Report for: <br/>{{selectedCenter.center}} {{selectedMonth}} {{selectedYear}} </h3>
              </div>
              <div class="panel-body">
                <div class="panel panel-default">
                  <div class="panel-body monthlyReportBox">
                    Key Indicator Summary:
                    <li>Baptized:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.baptized"></li>
                    <li>Baptismal date:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.baptismal_date"></li>
                    <li>Sacrament meeting:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.sacrament_meeting"></li>
                    <li>Member present lessons:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.member_present_lessons"></li>
                    <li>Other lessons:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.other_lessons"></li> 
                    <li>New investigators:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.new_investigators"></li>
                    <li>Progressing investigators:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.progressing_investigators"></li> 
                    <li>Recent convert/less active:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.rc_la"></li>
                    <li>Referrals sent:<input class="inputFieldEdit" min="0" type="number" ng-model="reportKi.referrals_sent"></li>    


                  </div>
                </div>  
              </div>
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editKeyIndicatorReport()">Save changes</button>
          </div>
        </div> <!--  End of modal body -->
      </div> <!-- End of modal content -->
    </div>
  </div>  


  <!-- Statistical report modals begin here -->


  <!-- Add Stats Modal -->
  <div class="modal fade" id="addReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorAddReportCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header list-group-item-info">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Statistics Report</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Visitors Center and Historic Site Monthly Report for: </br> 
                {{selectedCenter.center}} {{selectedMonthAdd}} {{selectedYearAdd}}</h3>

                <br/>

                Month:
                <select ng-init='selectedMonth = months[month]' ng-options='value for value in months' ng-model='selectedMonthAdd'></select>

                Date:
                <select ng-init='selectedYear = year' ng-options='value for value in years' ng-model='selectedYearAdd'></select>

              </div>
              <div class="panel-body">
                <div class="panel panel-default">
                  <div class="panel-body monthlyReportBox">
                    Visitors Summary

                    <li>Total number of meaningful contacts:<input class="inputFieldEdit" min="0" type="number" ng-model="visitor_total"></li>
                    <li>Total number of people who took tours:<input class="inputFieldEdit" min="0" type="number" ng-model="visitor_tour"></li>
                    <li>Total number of non-members who took tours:<input class="inputFieldEdit" min="0" type="number" ng-model="visitor_tournonmember"></li>

                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body monthlyReportBox">
                    Referrals Summary
                    <p>Referral: The person clearly understands that missionaries will: visit the person, deliver the requested item, and teach basic beliefs.</p>
                    <li>Those referring at the site:<input class="inputFieldEdit" type="number" min="0" ng-model="referral_cards"></li>
                    <li>Those referring when called after visiting the site:<input class="inputFieldEdit" type="number" min="0" ng-model="referral_called"></li>
                    <li>Those referring with inbound calls:<input class="inputFieldEdit" type="number" min="0" ng-model="referral_inbound"></li>
                    <li>Those referring whose names came from members:<input class="inputFieldEdit" type="number" min="0" ng-model="referral_member"></li>

                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body">
                    Comments:<textarea class="form-control inputFieldEditComments" rows="3" ng-model="comments"></textarea>
                  </div>
                </div> 
                <div class="panel panel-default">
<!--                   <div class="panel-body">
                    Review the information above for accuracy, then have your site director date and inital below:<br/>
                    Date:<input class="form-control addReport" ng-model="inputDate"/>Director inital:<input class="form-control addReport" ng-model="directorInitial"/>
                  </div> -->
                </div>   
              </div>
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addReport()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- View Stats Modal -->
    <div class="modal fade" id="viewReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorViewReportCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header list-group-item-info">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">View Statistics Report</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Visitors Center and Historic Site Monthly Report for: <br/>
                  {{selectedCenter.center}} {{selectedMonth}}, {{selectedYear}}</h3>
                </div>
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-body monthlyReportBox">
                      Visitors Summary

                      <li>Total number of meaningful contacts: {{report.visitor_total}}</li>
                      <li>Total number of people who took tours: {{report.visitor_tour}}</li>
                      <li>Total number of non-members who took tours: {{report.visitor_tournonmember}}<li>

                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body monthlyReportBox">
                        Referrals Summary

                        <li>Those referring at the site: {{report.referral_cards}}</li>
                        <li>Those referring when called after visiting the site: {{report.referral_called}}</li>
                        <li>Those referring with inbound calls: {{report.referral_inbound}}</li>
                        <li>Those referring whose names came from members: {{report.referral_member}}</li>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        Comments: {{report.comments}}
                      </div>
                    </div> 
                    <button type="button" class="btn btn-default">Print</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editReport" data-dismiss="modal" ng-click="getSingleReportEdit()">Edit</button>  <!-- Add Report modal trigger button-->
                    <button type="button" class="btn btn-default" ng-click="deleteReportWarning()">Delete</button><br/>

                    <div class="alert alert-danger" role="alert" ng-show="deleteReportWarningAlert">Are you sure you want to delete this report? This action cannot be undone.<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteSingleReport(report.id)">Yes, I want to delete this report</button><br/>
                    </div>    
                  </div>
                </div>   
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshModalClose()">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Edit Stats Modal -->
        <div class="modalEdit fade" id="editReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="directorEditReportCtrl">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header list-group-item-danger">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Statistics Report</h4>
              </div>
              <div class="modal-body">
                <div class="modal-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Visitors Center and Historic Site Monthly Report for: <br/>{{selectedCenter.center}} {{selectedMonth}} {{selectedYear}} </h3>
                    </div>
                    <div class="panel-body">
                      <div class="panel panel-default">
                        <div class="panel-body monthlyReportBox">
                          Visitors Summary

                          <li>Total number of meaningful contacts:<input class="inputFieldEdit" min="0" type="number" ng-model="report.visitor_total"></li>
                          <li>Total number of people who took tours:<input class="inputFieldEdit" min="0" type="number" ng-model="report.visitor_tour"></li>
                          <li>Total number of non-members who took tours:<input class="inputFieldEdit" min="0" type="number" ng-model="report.visitor_tournonmember"></li>

                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-body monthlyReportBox">
                          Referrals Summary

                          <li>Those referring at the site:<input class="inputFieldEdit" type="number" min="0" ng-model="report.referral_cards"></li>
                          <li>Those referring when called after visiting the site:<input class="inputFieldEdit" type="number" min="0" ng-model="report.referral_called"></li>
                          <li>Those referring with inbound calls:<input class="inputFieldEdit" type="number" min="0" ng-model="report.referral_inbound"></li>
                          <li>Those referring whose names came from members:<input class="inputFieldEdit" type="number" min="0" ng-model="report.referral_member"></li>

                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-body">
                          Comments:<textarea class="form-control inputFieldEditComments" rows="3" ng-model="report.comments"></textarea>
                        </div>
                      </div>   
                    </div>
                  </div>        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editReport()">Save changes</button>
                </div>
              </div>
            </div>
          </div>

