*.logo-bar {
	background-color: #003366 !important;
	font-family: Roboto !important;
	color: #fff;
	font-weight: strong;
}

.login-box {
	border: 1px solid gray;
	border-radius: 8px;
}
.sidebar-content {
	width: 20%;
}

.right-content {
/*	float: right !important;*/
	background-color: #4d6490;
	height: 500px;
/*	width: 75% !important;*/
}

.navList ul {
	list-style-type: none;
	background-color: #fff;
} 

.navList ul li {
/*	padding: 5px 0;*/
	margin: 25px 0;
}

.navList ul li a:hover {
	text-decoration: none;
}
