#my-chart {
	height: 350px;
}

.listGroupSiteNames {
	overflow: scroll;
	height: 200px;
	width: 100%;
}

.listGroupSiteNamesButton {
	float: right;
}

.listGroupSiteNamesTrends {
	width: 20%;
	overflow: scroll;
	height: 200px;
}

.globalReports {
	display: flex;
	background-color: #f5f5f5;
}

.globalReports p {
	margin-right: 5%;
	margin-left: 5%;
}

.globalReports p:hover {
	text-decoration: underline;
	font-weight: 700;
}

.monthlyReportBox li{
	list-style-type: none;
	padding: 1%;
	line-height: 1.5;
}

.monthlyReportBox input {
	width: 50px;
}

.inputFieldEdit {
	float: right;
}

.inputFieldEditComments {
	width: 95%;
	height: 100px;
}

.customReportButtons{
	text-align: center;
}

.selectpicker {
	font-size: 16px;
}
.radioTrends {
	float: right;
}
.radioTrends input{
	font-size: 16px;
	padding: 15px;
	margin: 10px 15px;
}

.list-group-item:last-child {
	border-bottom: 10px solid gray;
}

.addReport {
	width: 30%;
}

.display: {
	display: inline-block !important;
}

.downloadLink {
	color: #000;
	text-decoration: none;
}

.downloadLink:hover {
	color: #000;
	text-decoration: none;
}




/**.logo-bar {

	background-color: #003366 !important;
	font-family: Roboto !important;
	color: #fff;
	font-weight: strong;
}*/


/*.sidebar-content {
	width: 20%;
}


.right-content {	

.right-content {
	float: right !important;
	background-color: #4d6490;
	height: 500px;
	width: 75% !important;
}

}*/


/*.navList ul {
	list-style-type: none;
	background-color: #fff;

} */


/*.navList ul li {
	padding: 5px 0;
	margin: 25px 0;
}*/

/*.navList ul li a:hover {
	text-decoration: none;
}*/

/*Login page styling*/

.login-box {
	border: 1px solid gray;
	border-radius: 8px;
	padding: 20px;
}

.button-remember {
	float: left;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 55px 10px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 35px;
}

.page-header {
	margin: 60px 0 20px;
}


/*manage page*/

.iconi i {
	float: right;
	margin-right: 10px;
	font-size: 25px;
	padding: auto;
}


/**{
	border:1px solid red;
}*/

.form-pad {
	margin-bottom: 30px;
}

.logo-church {
	height:67px;
	width: 125px;
	margin-top: 125px;
	margin-right: auto;
}

/*
THIS IS FOR JACOB'S TABLE.
If it breaks anything, it's Jason's fault.
*/
.table-header-2 {
	font-size: 1.2rem;
}
.table-header-3 {
	font-size: 1rem;
}
th {
	text-align: center;
}
.flex-box {
	display: flex;
	justify-content: space-between;
}
#my-chart {
	width: 100%;
}
#trends-center-select {
	list-style-type: none;
	padding: 0px;
	width: 121px;
}