

/*Login page styling*/

.login-box {
	border: 1px solid gray;
	border-radius: 8px;
	padding: 20px;
}

.button-remember {
	float: left;
}

/*index page*/

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 55px 10px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.sidebar li {
	list-style-type: none;
}

.page-header {
	margin: 60px 0 20px;
}


/*manage page*/

.iconi i {
	float: right;
	margin-right: 5px;
}