<div class='btn-group'>
	<button class="btn btn-default btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
		Visitor trends <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click='updateMetrics("visitor_total")'>Total Visitors</a></li>
		<li><a ng-click='updateMetrics("visitor_tour")'>Total Tours</a></li>
		<li><a ng-click='updateMetrics("visitor_tournonmember")'>Total Non-Member Tours</a></li>
		<li><a ng-click='updateMetrics("referral_cards")'>Total Referrals From Cards</a></li>
		<li><a ng-click='updateMetrics("referral_called")'>Total Referrals From Outbound Calls</a></li>
		<li><a ng-click='updateMetrics("referral_inbound")'>Total Referrals From Inbound Calls</a></li>
		<li><a ng-click='updateMetrics("referral_member")'>Total Referrals From Members</a></li>
	</ul>
</div>
<div class='flex-box'>
	<ul id='trends-center-select'>
		Select Centers:
		<li ng-repeat='center in centers'>
		<input type='checkbox' ng-model='selectedCenters' ng-change='updateCenters(center.center)'>{{center.center}}
		</li>
	</ul>
	<div id='my-chart'>
	    <nvd3-line-chart
	        data="chartData"
	        showXAxis="true"
	        showYAxis="true"
	        tooltips="true"
	        interactive="true"
	        xAxisTickFormat='xAxisTickFormatFunction()'
	        objectEquality='true'>
	    </nvd3-line-chart>
	</div>
</div>